@import '../../../../../../libs/constants/src/lib/variables.scss';

.header {
    &__wrapper {
        border-top: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        background-color: $white;
    }
}