<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData" class="mat-elevation-z8">
    <ng-container *ngFor="let col of columns;" matColumnDef="{{col.name}}">
        <th class="green" [mat-sort-header]="col.name"  mat-header-cell class="right" *matHeaderCellDef>{{ displayedColumns[col.name] | titlecase }}</th>
        <td mat-cell *matCellDef="let element">
            <div class="display-cell">
                <div fortrisDynamicCellComponent [templateName]="col?.template" [element]="element[col.name]"></div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
    <tr 
        mat-row
        (click)="rowClicked($event, element)" 
        [ngClass]="{'pointer': enablePointerCssClass}" 
        *matRowDef="let element; let row; columns: columnsName">
    </tr>
</table>
