@import '../../../../../../libs/constants/src/lib/variables.scss';

th {
    text-align: right;
}

tr.cdk-row.pointer {
    cursor: pointer;
}

.display-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes fade-out-bg-decrease {
    0% {
      background-color: $red;
    }
    100% {
      background-color: $white;
    }
  }
  
  tr.decrease {
    animation: fade-out-bg-decrease 1.5s linear;
  }

@keyframes fade-out-bg-increase {
    0% {
      background-color: $green;
    }
    100% {
      background-color: $white;
    }
  }
  
  tr.increase {
    animation: fade-out-bg-increase 1.5s linear;
  }