<div id="content">
    <section id="details">
        <h3>{{ account?.account_name }}</h3>
        <p>{{ account?.category | titlecase }} account</p>
        <div>
            <p class="green"><span class="large">{{ account?.balance }} BTC</span>&nbsp;<span class="medium">({{
                    account?.balance | btcToUsdFormat : USDBTCPrice }})</span></p>
        </div>
        <p>Available balance: {{ account?.balance }} BTC ({{ account?.balance | btcToUsdFormat : USDBTCPrice }})</p>
    </section>
    <section id="transactions">
        <fortris-table [columns]="columns" [displayedColumns]="displayedColumns"
            [btcUsdFormatColums]="btcUsdFormatColums" [dataSource]="dataSource" [USDBTCPrice]="USDBTCPrice">
        </fortris-table>
    </section>
</div>